@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');


/* utilize Open Sans font to match sonatype website */
body {
  font-family: "Open Sans";
}

/* modify navbar to match placekey style */
.navbar-default {
  /*background-color: #8002EF;*/
  background-image: linear-gradient(106.76deg,#8002ef -8.2%,#4ba9ea 94.61%);
}

.navbar-default a {
  color: white;
}

/* this gets rid of version border */
.label-default {
    background-color: #00000000;

}


/* Removes color behind home */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    /* Removes color behind home */
    background-color: transparent;
}

/* modifies text on bar to white*/
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
/* modifies text on bar to white*/
.navbar-default .navbar-link {
    color: #fff;
}

/* add 15% white background to active link */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

    background-color: #ffffff15;
}

